MQTT_URL=mqtt://autometra.cloud:1883
MQTT_TOPIC=sensors/#

INFLUX_URL=http://autometra.cloud:8086
INFLUX_TOKEN=BDJC8BcLL2-A_TtDD-mTfWJYmwWNNTR10sIfos2Ntm9ozPEgBg-lWOYTNnMu4j2THnJf9jKEe56b1nEJW4v4jg==
INFLUX_ORG=autometra
INFLUX_BUCKET=Swachh_Sense